<section class="col-12">
    <h2 class="text-center">Demande du client numéro {numTicket}</h2>
    <article class="mt-4 mb-3 col-md-12 d-flex justify-content-between">
        <div class="row text-center col-12">
            <p class="col-sm-6 col-md-3">Nom : {nom}</p>
            <p class="col-sm-6 col-md-3">Prénom : {prenom}</p>
            <p class="col-sm-6 col-md-3">Email : {email}</p>
            <p class="col-sm-6 col-md-3">Téléphone : {tel}</p>
        </div>
    </article>
    <article>
        <div class="card">
            <div class="card-header d-flex {background} text-white justify-content-between">
                <!--VERSION DESKTOP-->
                <h5 class="col-6 mt-2 text-left d-none d-md-block">Catégorie : {categorie}</h5>
                <h5 class="col-6 mt-2 text-right d-none d-md-block"> Statut du ticket : {statut}</h5>
                <!--VERSION TABLETTE / SMARTPHONE-->
                <h6 class="col-6 mt-2 text-left d-sm-block d-md-none">Catégorie : {categorie}</h6>
                <h6 class="col-6 mt-2 text-right d-sm-block d-md-none"> Statut du ticket : {statut}</h6>
            </div>
            <div class="card-body">
                <div class="card-title">
                    <h5>Sujet : {sujet}</h5>
                </div>
            <p class="card-text">{message}</p>
            </div>
    </article>
</section>
<section class="col-12">
    <article>
        <h3 class="text-center mt-4 mb-4">Historique des actions</h3>
        {action}
    </article>
</section>