<section class="col-12">
    <h2 class="text-center">Détail de l'action numéro {numTicket}</h2>
    <article class="mt-4 mb-3 col-12 d-flex justify-content-between">
        <div class="col-12">
            <p>Description : {description}</p>
        </div>
    </article>
    <article class="mt-4 mb-3 col-12 d-flex justify-content-between">
        <div class="col-12">
            <p>Date : {date}</p>
        </div>
    </article>
    <article class="mt-4 mb-3 col-12 d-flex justify-content-between">
        <div class="col-12">
            <p>Intervenant : {technician}</p>
        </div>
    </article>
</section>
<section class="col-12">
    <article class="mt-4 mb-4 d-flex justify-content-between">
        <a class="col-12" href="index.php?controller=actions&action=updateForm&id={idAction}">
            <button class="btn btn-warning text-white col-sm-5 col-12 p-2 ">MODIFIER UNE ACTION</button>
        </a>
    </article>
</section>