<section class="col-12">
    <h2 class="text-center">Demande du client numéro ...</h2>
    <article class="mt-4 mb-3 col-12 d-flex justify-content-between">
        <div class="col-3">
            <p>Nom : </p>
        </div>
        <div class="col-3">
            <p>Prénom : </p>
        </div>
        <div class="col-3">
            <p>Email : </p>
        </div>
        <div class="col-3">
            <p>Téléphone : </p>
        </div>
    </article>
    <article class="col-12">
        <h3 class="text-center">Message</h3>
        <div class="col-12 d-flex">
            <p class="col-6"> Sujet :</p>
            <p class="col-6"> Catégorie :</p>
        </div>
        <div class="col-12 card">
            <span class="col-12 card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque aut repellat at quo deserunt possimus ullam, similique suscipit illum ab nisi tempora sit explicabo saepe. Vero eos odio a cupiditate?</span>
        </div>
    </article>
</section>
<section class="col-12">
    <article>
        <h3 class="text-center">Historique des actions</h3>
        <div class="d-flex justify-content-between">
            
        </div>
    </article>
    <article class="mt-4 mb-4 d-flex justify-content-between">
        <button class="btn btn-danger p2 col-5 ">AJOUTER UNE ACTION</button>
        <button class="btn btn-success p-2 col-5">CLORE UNE ACTION</button>
    </article>
</section>