<nav class="mb-4 navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="index.php?controller=ticket">Link-U</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
    aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExample03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link {activeTic} text-white" href="index.php?controller=ticket">Gestion des tickets <span
            class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class='nav-link {activeAct} text-white' href='index.php?controller=actions'>Actions</a>
      </li>
      <li class="nav-item">
        <a class='nav-link {activeArc} text-white' href='index.php?controller=archives'>Archives</a>
      </li>
      <li class="nav-item">
        <a class='nav-link {activeInt} text-white' href='index.php?controller=technicians'>Intervenants</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container mt-4">